<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 對應持久層的介面 -->
<mapper namespace="com.cooba.mapper.LotteryNumberMapper">
    <resultMap type="com.cooba.entity.LotteryNumberEntity" id="lotteryNumber">
        <result column="lottery_id" property="lotteryId"/>
        <result column="round" property="round"/>
        <result column="winning_numbers" property="numberString"/>
        <result column="created_time" property="createdTime"/>
    </resultMap>

    <insert id="insertNumbers">
        insert into lottery_number(lottery_id, round, winning_numbers, created_time)
        values(
        #{lotteryId},
        #{round},
        #{winningNumbers},
        NOW()
        )
    </insert>

</mapper>