<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 對應持久層的介面 -->
<mapper namespace="com.cooba.mapper.OrderEntityMapper">
    <resultMap type="com.cooba.entity.OrderEntity" id="order">
        <result column="id" property="id"/>
        <result column="player_id" property="playerId"/>
        <result column="wallet_id" property="walletId"/>
        <result column="asset_id" property="assetId"/>
        <result column="round" property="round"/>
        <result column="game_code" property="gameCode"/>
        <result column="guess_string" property="guessString"/>
        <result column="bet_amount" property="betAmount"/>
        <result column="odds" property="odds"/>
        <result column="bet_prize" property="betPrize"/>
        <result column="fee" property="fee"/>
        <result column="status" property="status"/>
        <result column="game_status" property="gameStatus"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_time" property="updatedTime"/>
    </resultMap>

    <select id="selectByPrimaryKey" resultMap="order">
        select * from order_entity where id = #{id}
    </select>

    <select id="selectLotteryByStatus" resultMap="order">
        select * from order_entity
        where lottery_id = #{lotteryId}
        and round = #{round}
        and status = #{status}
    </select>

    <update id="updateSettleResult">
        update from order_entity
        where id = #{id}
        set fee = #{result.fee}
        and bet_prize = #{result.betPrize}
        and status = #{result.status}
        and game_status = #{result.gameStatus}
        and updated_time = NOW()
    </update>

    <update id="updateStatus">
        update from order_entity
        where id = #{id}
        set status = #{result.status}
        and updated_time = NOW()
    </update>

    <insert id="insertInitialOrder" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.cooba.entity.OrderEntity">
        INSERT INTO main.order_entity
        (player_id, wallet_id, asset_id, round, game_code, guess_string, bet_amount, odds, bet_prize, fee, status,
        game_status, created_time, updated_time)
        VALUES(
        #{order.playerId},
        #{order.walletId},
        #{order.assetId},
        #{order.round},
        #{order.gameCode},
        #{order.guessString},
        #{order.betAmount},
        #{order.odds},
        #{order.betPrize},
        #{order.fee},
        #{order.status},
        #{order.gameStatus},
        NOW(),
        NOW()
        )
    </insert>
</mapper>